VITE_FIREBASE_API_KEY=AIzaSyCwJqwCtGTo-EPJHqEww6vvVX3NWx4t1k
VITE_FIREBASE_AUTH_DOMAIN=ner-shield-sih26002.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ner-shield-sih26002
VITE_FIREBASE_STORAGE_BUCKET=ner-shield-sih26002.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=115667038694
VITE_FIREBASE_APP_ID=1:115667038694:web:8d819892b1811572ffe627
VITE_FIREBASE_VAPID_KEY=BNvL6MBMUnFojTBgr1Y3-U5siGpsqJHhTLYHJEpR5lA5WQQn-lt8ufEmLFjEQLCkpxWH07J9XIyfwCDb4Kmar08